.headerWrapper{
    padding-bottom: 10%;
    article{
        text-align: center;
        font-style: italic;
        h1{
            font-size: 5vw;
            font-weight:900;
            padding-top: 12%;
        }
        h2{
            font-size: 4vw;
        }
    }
}